# Creating a requirements file

We recommend using a requirements file to add collections to your automation hub. Requirements files are in YAML format and list the collections that you want to install in your automation hub. After you create your requirements.yml file listing the collections you want to install, you will then run the install command to add the collections to your hub instance.
A standard requirements.yml file contains the following parameters:
* name: the name of the collection formatted as <namespace>.<collection_name>
* version: the collection version number
1. Create your requirements file.

In YAML format, collection information in your requirements file should look like this:

```bash
collections:
 name: namespace.collection_name
 version: 1.0.0
```

2. After you have created your requirements file listing information for each collection that you want to install, navigate to the directory where the file is located and run the following command:

```bash
$ ansible-galaxy collection install -r requirements.yml
```

# Installing an individual collection from the command line

To install an individual collection to your automation hub, run the following command:


```bash
$ ansible-galaxy collection install namespace.collection_name
```
