# Requirements

To install and use Ansible development tools, you must meet the following requirements.
Extra requirements for Windows installations and containerized installations are indicated in the procedures.

* Python 3.10 or later.
* VS Code (Visual Studio Code) with the Ansible extension added. See
Installing VS Code.
* For containerized installations, the Micorsoft Dev Containers VS Code extension. See
Installing and configuring the Dev Containers extension.
* A containerization platform, for example Podman, Podman Desktop, Docker, or Docker Desktop.

[NOTE]
----
The installation procedure for Ansible development tools on Windows covers the use of Podman Desktop only.
See Installing Podman Desktop on a Windows machine.
----
* You have a Red Hat account and you can log in to the Red Hat container registry at registry.redhat.io.
For information about logging in to registry.redhat.io, see
Authenticating with the Red Hat container registry.